/*
* @Author: lenovo
* @Date:   2017-12-20 19:57:09
* @Last Modified by:   lenovo
* @Last Modified time: 2017-12-21 00:09:06
*/
@import url('base.css');

body{
	background: url('../img/20171206192020486IC5.jpg') no-repeat center -50px;
}

.Top{
	width: 100%;
	height: 30px;
	background: #f5f5f5;
}

.top{
	width: 1200px;
	height: 30px;	
	margin: 0 auto;
}
.topz{
	width: 190px;
	height: 30px;
	float: left;
	line-height: 30px;
	
}
.topz span{
	font-size: 12px;
	color: #808080;
}
.topz a{
	font-size: 12px;
	color: #e40077;
	margin-left: 20px;
}
.topy{
	width: 600px;
	height: 30px;
	float: right;
	line-height: 30px;
}
.topy a{
	font-size: 12px;
	color: #808080;
	margin-left: 24px;
}
.topy a:hover{
	color: #3EB4FA;
}
nav{
	width: 100%;
	height: 88px;
}
.nav{
	width: 1200px;
	height: 88px;
	margin: 0 auto;
}
.nav img{
	width: 230px;
	height: 42px;
	margin-top: 20px;
	float: left;
}
.zuobiao{
	width: 47px;
	height: 18px;
	font-size: 16px;
	color: #333;
	float: left;
	margin-left: 35px;
	margin-top: 40px;
	
}
.zuobiao span{
	line-height: 18px;
	transform: rotate(180deg);
	display: block;
	float: right;
}
.sousuo{
	width: 500px;
	height: 38px;
	float: right;
	margin-top: 24px;
	position: relative;
}
.ss{
	width: 488px;
	height: 30px;
	border: 1px solid #C9362D;
	padding-left: 10px;
	outline: none;
}
.qd{
	width: 80px;
	height: 31px;
	background: #c9362d;
	position: absolute;
	top: 0;
	right: 0;
	outline: none;
	border: none;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 31px;
	cursor: pointer;
}
.nav1{
	width: 500px;
	height: 22px;
	float: right;
}
.nav1 a{
	margin-right: 20px;
	font-size: 12px;
	color: #333;
}
.nav1 a:nth-child(2n+1){
	color: #e40077;
}
.nav1 a:hover{
	color: #3EB4FA;
}
.head_nav{
	width: 100%;
	height: 48px;
}
.hd_nav{
	width: 1200px;
	height: 48px;
	margin: 0 auto;
	
}
.bl{
	display: block;
	width: 235px;
	height: 48px;
	float: left;
	font-size: 16px;
	color: #fff;
	line-height: 47px;
	text-align: center;
	background: #3EB4FA;
}
.hd_nav ul{
	width: 623px;
	height: 48px;
	float: left;
	box-sizing: border-box;
	padding-left: 24px;
}
.hd_nav ul li{
	padding: 0 29px;
	float: left;
}
.hd_nav ul li a{
	font-size: 16px;
	color: #333;
	line-height: 48px;
}
.hd_nav ul li a:hover{
	color: #3EB4FA;
}
.banner{
	width: 100%;
	height: 400px;
}
.bannera{
	width: 1200px;
	height: 400px;
	margin: 0 auto;
	box-sizing: border-box;
	border-bottom: 1px solid #DF6818;
	position: relative;
	border-top: 1px solid #3EB4FA;
}
.bannerz{
	width: 235px;
	height: 398px;
	float: left;
	background: #fff;
	box-sizing: border-box;
	padding-top: 10px;
}
.bannerz li{
	width: 200px;
	height: 50px;
	padding-left: 30px;
	border: 1px solid #fff;
}
.bannerz li a{
	width: 100%;
	height: 100%;
	display: block;
	font-size: 16px;
	color: #333;
	line-height: 50px;
}
.bannerz li:hover a{
	color: #3EB4FA;
}
.bannerz li:hover a::after{
	color: #3EB4FA;
}
.bannerz li a img{
	vertical-align: middle;
}
.bannerz li a::after{
	content: '>';
	display: block;
	float: right;
	margin-right: 30px;
	line-height: 50px;
	color: #b0b0b0;
}
.bannerv{
	width: 705px;
	height: 398px;
	position: relative;
	float: left;
}
.bannerv li{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.bannerv li a{
	width: 100%;
	height: 100%;
	display: block;
}
.bannerv li a img{
	width: 100%;
	height: 100%;
}
.bannery{
	width: 260px;
	height: 398px;
	float: left;
	background: #fff;
}
.bnvz{
	width: 34px;
	height: 70px;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 70px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	opacity: 0;
}
.bnvy{
	width: 34px;
	height: 70px;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 70px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	right: 0;
	opacity: 0;
}
.bannerv:hover .bnvz{
	opacity: 1;
}
.bannerv:hover .bnvy{
	opacity: 1;
}
.bannerv main{
	width: 190px;
	height: 10px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 16px;
}
.bannerv main div{
	width: 10px;
	height: 10px;
	float: left;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.5);
	margin-right: 10px;
}
.bannerv main div:last-child{
    margin-right: 0px;
}
.bannerv main div:first-child{
	background: rgba(0, 0, 0, 1.0);
}
.banys{
	width: 258px;
	height: 148px;
	padding-top: 30px;
}
.banys a{
	width: 86px;
	height: 74px;
	display: block;
	float: left;
}
.banys a img{
	width: 32px;
	height: 32px;
	margin-left: 24px;
}
.banys a span{
	text-align: center;
	font-size: 12px;
	color: #333;
	display: block;
}
.banyx{
	width: 230px;
	height: 190px;
	margin: 0 auto;
	border-top: 1px dotted #333;
}
.banyxx{
	width: 230px;
	height: 21px;
	padding-top: 20px;
}